<!DOCTYPE html>
<html lang="en">
<head>

    <title>Home Page</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

  <style>

   #block1
    {
      margin: 30px 90px;
      padding: 20px;
      width: 500px;
      float: left;
    }
  #block2
  {
    margin: 30px 90px;
    padding: 40px;
    width: 400px;
    float: right;
  }
  #block3
  {
    margin: 10px 20px;
    padding: 40px;
    width: 600px;
    float: right;
  }
  #block4
  {
    margin: 10px 20px;
    padding: 40px;
    width: 800px;
    float: left;
  }
  </style>
</head>

<body style="background-color:powderblue;">
    <div style="background-color:#33475b" align="center">

            <span ><a  class="hello-msg" href="{% url 'Home' %}" style="font-size:150%;">Home  &nbsp;&nbsp;&nbsp;   </a></span>
            <span ><a  class="hello-msg" href="{% url 'About Us' %}" style="font-size:150%;">About Us &nbsp;&nbsp;&nbsp;     </a></span>
            <span ><a  class="hello-msg" href="{% url 'Listings' %}" style="font-size:150%;">Listings &nbsp;&nbsp;&nbsp;    </a></span>
            <span ><a  class="hello-msg" href="{% url 'Search Listings' %}" style="font-size:150%;">Search Listings &nbsp;&nbsp;&nbsp;     </a></span>
            <span ><a  class="hello-msg" href="{% url 'Omaha Events' %}" style="font-size:150%;">Omaha Events &nbsp;&nbsp;&nbsp;      </a></span>
      </div>
    <br>

    <div id= "block1" style="float:left; background-color:#33475b">  <br><br><br><img src="../static/images/AgentPicture.png"  style="width: 300%; height: 10%" alt="Agent Picture" align="left"> </div>

    <div id= "block2" style="background-color:#33475b">
              <h5 align="center" style="color:white; background-color:#33475b">Madison Vance <br> Real Estate Agent</h5>
    </div>

    <div id="block3" style="float:left; background-color:#33475b">
         <h3 align="left" style="color:white; font-size:200%"> Personal Information </h3> <br>
            <h5 style="color:white; font-size:150%"> Cell number: 402-123-4567</h5>
            <h5 style="color:white; font-size:150%" href="{% url 'email' %}"> Email Id:
      <span ><a  class="hello-msg" href="{% url 'Email Id' %}" style="font-size:150%;">madison@gmail.com &nbsp;&nbsp;&nbsp;</a></span>
              </h5><br>
            <h5 style="color:white; font-size:150%"> Office Address: 3701 N 132st, Omaha, NE </h5>
    </div>

    <div id="block4" style="float:right; background-color:#33475b">
         <h3 style="color:white; font-size:150%" align="center">About me </h3>
         <p style="color:white; font-size:120%"> I provide real estates such as home, apartment, housing to rent and buy. After obtaining my undergraduate degree in Business Administration, got my Real Estate License and became a real estate agent with a well-respected
              Omaha area brokerage. Soon, I decided to strike out on my own and obtained my real estate agent License as well. Currently, I am
              the owner and operator of AdVance
              Home Real Estate.</p>
    </div>
     <br><br><br> <br><br><br> <br><br><br> <br><br><br> <br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div style="background-color:#33475b; font-size:150%" align="center">
        <p style="color:white;"> Have a question..?   Click the above email to start conversation with me</p>
      </div>

</body>
</html>